<div class="hidden-item">
    <div id="as_window"><%=params[:request_type]=="window"%></div>
    <div id="dialog-height">400</div>
    <div id="dialog-width">500</div>
    <div id="dialog-name">Blog Settings </div>
</div>


<div id="article-settings-tabs">
    <ul>
        <li><a href="#blog-settings-tab">View Settings</a></li>
        <li><a href="#blog-social-tools-tab">Social Sharing Tool</a></li>
    </ul>
    <div id="blog-settings-tab">
        <div class="cms-content">
            <p>
            <p>
                <b>Show Author Information</b><br>
                <%=editablecheckboxedit("blog_show_author", @settings, "Show?")%>
            </p>
            <p>
                <b>Show Author Avatar</b><br>
                <%=editablecheckboxedit("blog_show_author_avatar", @settings, "Show?")%>
            </p>               

        </div>


    </div>
    <div id="blog-social-tools-tab">
        <div class="cms-content">
            <p>
                <b>Social Share Javascript(from site):</b><br>
                <%=editablefieldcreate("blog_javascript_social_share", @settings, "javascript code", {:sanitize=>false})%>
            </p>
            <p>
                <b>Social Share Buttons(from site):</b><br>
                <%=editablefieldcreate("blog_button_block_social_share", @settings,"button code", {:sanitize=>false})%>
            </p>

        </div>

    </div>

</div>